:root {
  --item-tx-color: #212121;
  --item-bg-color: #ffffff;
  --item-btn-color: #2196f3;
  --item-prim-color: #757575;
  --item-company-color: #afb1b8;
  --item-bgc-footer: rgba(255, 255, 255, 0.6);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --overlay-bg-color: rgba(47, 48, 58, 0.8);
  --timing--function: 250ms cubic-bezier(04, 0, 0.2, 1);
}

body {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--item-bg-color);
}

/*
  |============================
  | Reset
  |============================
*/
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.hide-title {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1%;
}

.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--item-btn-color);
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
  }
}

.header__logo-dark {
  color: var(--item-tx-color);
}

.footer__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--item-bg-color);
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 31/26;
  }
}

.footer__logo-white {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--item-btn-color);
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__button {
  margin-left: auto;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 450px;
  padding: 0 15px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .header__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
  }
}

/*
  |============================
  | Header contact
  |============================
*/
.navi__contact-list {
  gap: 50px;
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .navi__contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .navi__contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    margin-left: auto;
  }
}

.navi__contact-item {
  color: var(--item-prim-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .navi__contact-item {
    padding-top: 32px;
  }
}
.navi__contact-item:hover, .navi__contact-item:focus {
  color: var(--item-btn-color);
}

.navi__contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .navi__contact-link {
    font-size: 12px;
    line-height: 1.7;
  }
}
@media screen and (min-width: 1200px) {
  .navi__contact-link {
    font-size: 14px;
    line-height: 1.1;
    padding-bottom: 32px;
  }
}
.navi__contact-link:hover .navi__contact-link, .navi__contact-link:focus .navi__contact-link {
  fill: var(--item-btn-color);
}

.navi__contact-icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*
  |============================
  | Header navigation
  |============================
*/
.navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.navi__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  display: none;
}
@media screen and (min-width: 768px) {
  .navi__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 51px;
    margin-left: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .navi__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navi__item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--item-tx-color);
  padding-top: 32px;
}

.navi__link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navi__item:hover .navi__link, .navi__item:focus .navi__link {
  color: var(--overlay-color);
}

.navi__link.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1.5%;
  background-color: var(--item-btn-color);
  border-radius: 2px;
  border: transparent;
}

.navi__list .current {
  color: var(--item-btn-color);
}

/*
  |============================
  | Footer
  |============================
*/
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__address_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__address_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 165px;
    margin: auto;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address_wrap {
    margin: 0;
    gap: 70px;
  }
}

/*
  |============================
  | Footer address
  |============================
*/
.footer__address {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__address {
    margin-left: 0;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin-bottom: 0;
    text-align: left;
  }
}

.address {
  margin-top: 20px;
}

.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.address__link-map {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--item-bg-color);
  margin-top: 20px;
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link-map:hover, .address__link-map:focus {
  color: var(--item-btn-color);
}

.address__item {
  text-decoration: none;
  display: block;
  color: var(--item-bgc-footer);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--item-btn-color);
}

/*
  |============================
  | Footer socials
  |============================
*/
.footer__socials {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer__socials-subtitle {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--item-bg-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__socials-subtitle {
    text-align: left;
  }
}

.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 9px;
}

.footer__socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  cursor: pointer;
  border-radius: 50%;
  color: var(--item-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socials-item:hover, .footer__socials-item:focus {
  background-color: var(--item-btn-color);
  color: var(--item-bg-color);
}

.footer__socials-link {
  max-width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials-icon {
  display: block;
  fill: currentColor;
}

/*
  |============================
  | Footer subscribe
  |============================
*/
.footer__subscribe {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe {
    margin-left: auto;
  }
}

.footer__subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--item-bg-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-text {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
}

.footer__subscribe-label {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-label {
    text-align: left;
    margin-right: 0;
  }
}

.footer__subscribe-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2px;
  letter-spacing: 0.03em;
  width: 100%;
  height: 50px;
  padding: 15px;
  color: var(--item-bgc-footer);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media (min-width: 480px) and (max-width: 1199px) {
  .footer__subscribe-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-input {
    width: 358px;
  }
}

.footer__subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  margin: auto;
  color: var(--item-bg-color);
  background: var(--item-btn-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 10px 28px;
  }
}
.footer__subscribe-btn:hover, .footer__subscribe-btn:focus {
  background-color: #188ce8;
}

.footer__subscribe-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-left: 10px;
  fill: var(--item-bg-color);
}

/*
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2.5px) grayscale(0.5);
          backdrop-filter: blur(2.5px) grayscale(0.5);
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  padding: 40px;
  background-color: var(--item-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 420px) {
  .modal {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--item-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:focus, .modal__btn:hover {
  fill: var(--item-btn-color);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--item-prim-color);
}
.contacts__item:first-child {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--item-btn-color);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 101%;
  padding: 48px 40px;
  background-color: #fff;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu__icon:hover, .menu__icon:focus {
  fill: var(--item-btn-color);
}
.menu__button {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
}
.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
}
.menu__item {
  padding: 0 10px;
}
.menu__item:first-child {
  padding-left: 0;
}
.menu__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu__link {
  color: var(--item-btn-color);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__nav {
  margin-bottom: auto;
}

.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #000;
  padding: 0;
}
.menu-nav__link--active {
  color: var(--item-btn-color);
}
.menu-nav__list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.menu-nav__link::after {
  content: "";
  content: none;
}

/*
  |============================
  | Main section page one
  |============================
*/
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 118px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background/hero/hero_s_@1x.webp");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/hero/hero_s_@1x.webp");
  max-width: 1600px;
  margin: auto;
  position: relative;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background/hero/hero_s_@2x.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/hero/hero_s_@2x.webp");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background/hero/hero_m_@1x.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/hero/hero_m_@1x.webp");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background/hero/hero_m_@2x.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/hero/hero_m_@2x.webp");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background/hero/hero_l_@1x.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/hero/hero_l_@1x.webp");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background/hero/hero_l_@2x.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/hero/hero_l_@2x.webp");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--item-bg-color);
  max-width: 360px;
  margin: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}
.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--item-bg-color);
  background: var(--item-btn-color);
  border-color: transparent;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:focus, .hero__button:hover {
  background-color: #188ce8;
}

/*
  |============================
  | Main section page two
  |============================
*/
.button__sets-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  gap: 8px;
  padding: 0;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .button__sets-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button__item {
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--item-tx-color);
  text-align: center;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__item:hover, .button__item:focus {
  color: var(--item-bg-color);
  background: var(--item-btn-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card__sets-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) {
  .card__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.card__item:hover .card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__item:hover .card__link,
.card__item:focus .card__link {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(102%);
          transform: translateY(102%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  background-color: var(--overlay-color);
}

.card__overlay-description {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--item-bg-color);
}

.card__box {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--item-tx-color);
  margin-bottom: 4px;
}

.card__text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--item-prim-color);
}

/*
  |============================
  | Description with posts
  |============================
*/
.post__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .post__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .post__item {
    width: calc((100% - 90px) / 4);
  }
}

.post__item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.post__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--item-tx-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .post__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .post__title {
    text-align: left;
  }
}

.post__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--item-prim-color);
}

.icon-antenna::before {
  background-image: url(../images/icons/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

/*
  |============================
  | Project
  |============================
*/
.project {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .project {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .project {
    display: block;
  }
}

.project__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--item-tx-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .project__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__thumb {
  position: relative;
}

.project__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--overlay-bg-color);
}

.project__overlay-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--item-bg-color);
}

/*
  |============================
  | Team Photos
  |============================
*/
.team {
  background: #f5f4fa;
}

.team__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--item-tx-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.team__card {
  background: var(--item-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__card {
    max-width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    max-width: calc((100% - 90px) / 4);
  }
}

.team__photo {
  margin-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--item-tx-color);
  margin-bottom: 10px;
}

.team__worked {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--item-prim-color);
  margin-bottom: 16px;
}

.team__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.team__socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-color: transparent;
  border-radius: 50%;
  color: var(--item-company-color);
  background-color: var(--item-bg-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__socials-link:hover, .team__socials-link:focus {
  color: var(--item-bg-color);
  background-color: var(--item-btn-color);
}

.team__socials-icon {
  fill: currentColor;
}

/*
  |============================
  | Company cooperate
  |============================
*/
.company__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.company__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc((100% - 30px) / 2);
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--item-company-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company__item:hover, .company__item:focus {
  border: 1px solid var(--item-btn-color);
}
@media screen and (min-width: 768px) {
  .company__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .company__item {
    width: calc((100% - 150px) / 6);
  }
}

.company__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.company__link:hover .company__icon, .company__link:focus .company__icon {
  fill: var(--item-btn-color);
}

.company__icon {
  fill: var(--item-company-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*
  |============================
  | Register form
  |============================
*/
.register__form-title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 12px;
  color: var(--item-tx-color);
}

.register__form-label {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--item-prim-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.register__form-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 4px;
  color: var(--item-prim-color);
}

.register__form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register__form-input:focus {
  border-color: var(--item-btn-color);
}

.register__form-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register__form-input:focus + .register__form-icon {
  fill: var(--item-btn-color);
}

.register__form-message {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register__form-message:focus {
  border-color: var(--item-btn-color);
}

.register__form-message::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--item-prim-color);
}

.register__form-message::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--item-prim-color);
}

.register__form-message:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--item-prim-color);
}

.register__form-message::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--item-prim-color);
}

.register__form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--item-prim-color);
}

.register-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.icon-checked {
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register__form-checkbox:checked + .register__form-icons .icon-checked {
  opacity: 1;
}

.icon-unchecked {
  opacity: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register__form-checkbox:checked + .register__form-icons .icon-unchecked {
  opacity: 0;
}

.register__form-checkbox {
  border-radius: 2px;
  background: var(--item-tx-color);
}

.register__form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--item-bg-color);
  background: var(--item-btn-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register__form-btn:focus, .register__form-btn:hover {
  background-color: #188ce8;
}

.register__form-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--item-prim-color);
}
@media screen and (min-width: 1200px) {
  .register__form-desc {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.register__form-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--item-btn-color);
}/*# sourceMappingURL=main.css.map */