//  header logo
.header__logo {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   color: var(--item-btn-color);
   padding: 16px 0;

   @media screen and (min-width: 768px) {
      padding: 0;
   }

   @media screen and (min-width: 1200px) {
      font-weight: 700;
      font-size: 26px;
      line-height: 31px;
      letter-spacing: 0.03em;
   }
}

.header__logo-dark {
   color: var(--item-tx-color);
}

//  footer logo

.footer__logo {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: var(--item-bg-color);

   display: block;
   margin-bottom: 20px;
   margin-right: 0;


   @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 31 / 26;
   }
}

.footer__logo-white {
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   color: var(--item-btn-color);
}
