/*
  |============================
  | Main section page two
  |============================
*/

.button__sets-list {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   gap: 8px;
   padding: 0;
   margin-bottom: 50px;

   @media screen and (min-width: 768px) {
      justify-content: center;
   }
}

.button__item {
   border-radius: 4px;
   cursor: pointer;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   letter-spacing: 0.03em;
   border-color: transparent;
   border-radius: 4px;
   padding: 6px 22px;
   color: var(--item-tx-color);
   text-align: center;
   padding: 6px 22px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      color: var(--item-bg-color);
      background: var(--item-btn-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
         0px 2px 2px rgba(0, 0, 0, 0.12);
   }
}

.card__sets-list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}

.card__item {
   flex-basis: 100%;
   border: 1px solid #eeeeee;

   @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
   }

   @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 30px * 2) / 3);
   }
}

.card__item:hover .card__overlay {
   transform: translateY(0);
}

.card__item:hover .card__link,
.card__item:focus .card__link {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link {
   display: block;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__thumb {
   position: relative;
   overflow: hidden;
}

.portfolio__img {
   display: block;
   max-width: 100%;
   height: auto;
}

.card__overlay {
   position: absolute;
   top: 0;
   left: 0;
   transform: translateY(102%);
   transition: transform 250ms;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 63px 24px;
   background-color: var(--overlay-color);
}

.card__overlay-description {
   font-style: normal;
   font-size: 18px;
   line-height: 1.5;
   letter-spacing: 0.03em;
   color: var(--item-bg-color);
}

.card__box {
   border: 1px solid #eeeeee;
   border-top: none;
   padding-top: 20px;
   padding-right: 24px;
   padding-bottom: 20px;
   padding-left: 24px;
}

.card__title {
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: var(--item-tx-color);
   margin-bottom: 4px;
}

.card__text {
   font-style: normal;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.03em;
   color: var(--item-prim-color);
}
