/*
  |============================
  | Header navigation
  |============================
*/

.navi {
   display: flex;
   margin-right: auto;
}

.navi__list {
   display: flex;
   gap: 50px;
   display: none;

   @media screen and (min-width: 768px) {
      display: flex;
      gap: 51px;
   }
   @media screen and (min-width: 1200px) {
      display: flex;
   }
}

.navi__item {
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.02em;
   color: var(--item-tx-color);
   padding-top: 32px;
}

.navi__link {
   position: relative;
   display: block;
   font-weight: 500;
   line-height: 1.1;
   letter-spacing: 0.02em;
   padding-bottom: 32px;
   padding-bottom: 32px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   .navi__item:hover &,
   .navi__item:focus & {
      color: var(--overlay-color);
   }
}

.navi__link.current::after {
   content: '';
   display: block;
   position: absolute;
   width: 100%;
   height: 4px;
   left: 0;
   bottom: -1.5%;
   background-color: var(--item-btn-color);
   border-radius: 2px;
   border: transparent;
}

.navi__list .current {
   color: var(--item-btn-color);
}
